<table class="table table-hover table-light">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">About</th>
        <th scope="col">image </th>
        <th scope="col"><a href="/addproduct" class="btn btn-success">Add</a> </th>
        
        
      </tr>
    </thead>
    <tbody>
      <% product1.forEach((item,index) => { %>
        <tr>
          <th scope="row"><%= index+1 %></th>
          <td><%= item.name %></td>
          <td><%= item.price  %></td>
          <td><%= item.about %></td>
          <td><img src="images/productImg/<%= item._id %>.jpg" alt="no" style="height: 50px;width: 40px;"></td>
          <td>
            <a href="/edit?id=<%= item._id %>" class="btn btn-primary">edit</a>
            <a href="/delete?id=<%= item._id %>" class="btn btn-danger" onclick="confirm('Are You sure Delete <%= item.name %> ')">Delete</a>
           
          
          </td>
        </tr>
      <% }) %>%>
      
      
 
    </tbody>
  </table>