
<%- include("./layout/layout")%>
<%- include("./partials/partials")%>

<style>

    #Select {
  width: 20px;
  border-radius: 5px;
    }
  </style>
  
  
  
  
  
  <section>
    <div class="container">

  <div class="row m-5">
  
    <% products1.forEach((item,index )=> { %>
        <% item.products.forEach(pro => {%>
  <div class="col-md-3 p-5">
  
    <div class="card" style="width: 14rem;height:23rem; ">
      <img src="images/productImg/<%= item.item%>.jpg" class="card-img-top" alt="not found" style="height:12rem; width:12rem;">
      <div class="card-body">
        <h5 class="card-title" ><%= pro.name %></h5>
        <h5><%= pro.price%></h5>
        <h5>Quantity:<%= item.qty%></h5>
        
        <p class="card-text" style="font-size: 10px;"><%= pro.about%></p>
        
        
      </div>
      
</div>
</div>
<% });%>
<% }) %>
      
      
     
  
     
    
  </div>
  </div>
  </section>